/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.container {
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(216, 237, 255);
  height: 600px;
  width: 500px;
  margin: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 10px 10px 20px 4px rgba(0, 0, 0, 0.2);
}

h3 {
  margin: 0 auto;
  padding-top: 1rem;
  font-size: 30px;
}

.block0,
.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7,
.block8 {
  font-size: 5rem;
  background-color: azure;
  height: 105px;
  width: 120px;
  margin: 0.2rem;
}

body,
.container,
.first-row,
.second-row,
.third-row {
  display: flex;
  align-items: center;
}

.first-row,
.second-row,
.third-row {
  text-align: center;
}

.result-row,
.btn-row {
  height: 3rem;
  text-align: center;
  font-size: 2rem;
}

.btn {
  background-color: rgb(104, 216, 197);
  padding: 5px 10px;
  font-size: 1.5rem;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(85, 177, 161);
}
